:root {
  --color-background: white;
  --color-text: #FF5F15;
  --color-login: rgb(27, 22, 22);
  --font-size-h1: 20px;
  --font-size-label: 20px;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

li {
  list-style: none;
}