/* The Roboto Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600%3B700%3B800%3B900&display=swap');

:root {
    --color-background: white;
    --color-text: #FF5F15;
    --color-login: rgb(27, 22, 22);
    --font-size-h1: 20px;
    --font-size-label: 20px;
}
/* Login.css */

.logoText h1{
  font-size: 2.5em; /* Larger font for the main title */
  font-weight: bold; /* Make the title bold */
  text-transform: uppercase; /* Make the title uppercase */
  letter-spacing: 2px; /* Add space between letters */
  margin-bottom: -5px; /* Reduce the space below the title */
}

.logoText h3{

  font-size: 1em; /* Slightly smaller font for the subtitle */
  font-weight: normal; /* Normal weight for the subtitle */
  margin-top: -10px; /* Adjust the spacing between title and subtitle */
  text-indent: 3em; /* Add a tab-like space at the beginning */
  letter-spacing: 1px; /* Add subtle spacing between letters */

}

.side-image {
  /* width: 40%; */
  height: 100vh;
  width: 100%;
  /* margin-left: 10px; */
}

.sideImageDiv {
  flex: 1;
}

.signup-main-container {
  display: flex;
  width: 100vw;
  align-items: start;
  gap: 100px;
  height: 100%;
  background: white;
}

.signup-container {
    background-color: var(--color-background);
    flex: 1;
    color: var(--color-text);
    font-family: poppins;
    padding: 10px;
    /* flex: 0.8; */
  }
  
  .signup-container h1 {
    color: var(--color-text);
    font-size: var(--font-size-h1);
    font-weight: bolder;
  }


  .signup-form {
    margin-top: 25px;
  }
  
  .signup-form input {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
   
    border: 1px solid #ccc;
  }
  
  .signup-form button {
    width: 100%;
    height: 40px;
    background-color: var(--color-login);
    color: #fff;
    border: none;
    border-radius: 0px;
    cursor: pointer;
  }
  
  .signup-form label {
    color: var(--color-text);
    font-size: 17px;
  }
  .signup-form button:hover {
    background-color: black;
  }

  .signup-container p {
    color: var(--color-text);
  }

